*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(24, 13, 13) ,silver);
}
#logobox{
    width: 30%;
    height: 100%;
    float: left;
}
#h1header{
    color: lavender;
    margin: 0em;
    font-size: 70px;
    font-family: monospace;
    

    
}
#logo{
    margin: 2em;
    height: 100%;
    border-radius: 50%;
    float: left;
}
#first{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: right;
}
.ad{
    padding: 1em;
    text-align: center;

}
.ab{
    padding: 0em;
    margin: 0em;
    font-size: 22px;
}
.as{
    text-align:center;
    padding: 1em;
    margin: 1em;
    font-size: 20px;
}
#pic2{
    padding: 0em;
    margin: 2em;
    height:40%;
    width:24%;
    border-radius: 60%;
    float: left;
}
.ab{
    padding: 1em;
    margin: 1em;
    text-align:right;

}
.hr{
    margin: 5em;
}
#pic3{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: right;
}
#pic4{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: left;
}
#pic5{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: right;

}
#pic6{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: left;
}
#pic7{
    padding: 0em;
    margin: 2em;
    height: 40%;
    width: 24%;
    border-radius: 50%;
    float: right;

    
}